.header {
  margin: 0;
  font-size: 43px;
  font-weight: 700;
}

.description {
  margin: 14px 0;
  font-weight: 400;
}

.name {
  font-size: 21px;
  font-weight: 700;
}

.keywords {
  font-weight: 500;
  color: #337ab7;
}
